{% extends "dewater2/base.html" %}

{% load tethys_gizmos %}

{% load staticfiles %}

{% block app_navigation_items %}

<!--   <button type="button" class="btn btn-default" data-toggle="modal" data-target="#welcome-popup">Instructions</button> -->
   <button type="button" class="btn btn-default" data-toggle="modal" onclick="welcome_modal()">Instructions</button>

	<li class='title'><b>Aquifer Properties</b></li>

	  	{% csrf_token %}

	  	{% gizmo text_input k %}
		{% gizmo text_input bedrock %}
		{% gizmo text_input iwte %}

		<li class='title'><b>Project Specifications</b></li>

		{% gizmo text_input q %}
		{% gizmo text_input dwte %}

		{% gizmo button execute %}

{% endblock %}


{% block app_content %}

    {{ block.super }}

    {% gizmo map_view map_view_options %}


{% endblock %}


{% block app_actions %}

{% endblock %}
